# Miscellaneous
*.lock
*.log
*.iml
*.swp
*.swo
*.DS_Store
.idea/
.dart_tool/
.packages
.generated/
build/
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.flutter_export_environment.sh

# Flutter/Dart/Pub related
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/.symlinks/
**/lib/generated_plugin_registrant.dart
**/android/.gradle
**/.idea
.packages
.pub-cache/
.pub/
.flutter-plugins

# Android related
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/build/
**/android/.gradle/
**/android/**/build/
**/android/**/local.properties
**/android/captures/
**/android/.idea
.gradle/
/local.properties

# iOS related
**/ios/**/*.generated.dart
**/ios/**/*.xcworkspace
**/ios/**/*.xcuserstate
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*synched/
**/ios/**/*symlinks
**/ios/**/.DS_Store
**/ios/**/*.hmap
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/Profile
**/ios/**/xcuserdata
**/ios/**/DerivedData/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Pods/
**/ios/Runner.xcworkspace

# VSCode related
.vscode/

# Exception to the rules
!/ios/Runner/Assets.xcassets
!/ios/Runner/Info.plist
!/ios/Runner/Base.lproj/LaunchScreen.storyboard
!/ios/Runner/Base.lproj/Main.storyboard
!/android/app/src/main/res/mipmap-hdpi
!/android/app/src/main/res/mipmap-mdpi
!/android/app/src/main/res/mipmap-xhdpi
!/android/app/src/main/res/mipmap-xxhdpi
!/android/app/src/main/res/mipmap-xxxhdpi
!/android/app/src/main/res/values
!/android/app/src/main/AndroidManifest.xml
!/android/gradle/wrapper/gradle-wrapper.jar
!/android/gradle/wrapper/gradle-wrapper.properties
!/android/key.properties

# Keystore related
*.jks
*.keystore
/key.properties

#
